.joseScard1 {
  margin-right: 15%;
}
.joseScard2 {
  width: 46%;
}
.joseSbuttonCard {
  width: 100%;
}
.itemCard {
  max-width: 800px;
  max-height: 800px;
  border-radius: 5px;
  box-shadow: 0 19px 10px rgba(51, 51, 51, 0.12);
  background-color: #ffffff;
  z-index: 2;
  position: relative;
  margin-left: 300px;
}

.Styling-CardGroups {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.CardHeader-Items {
  background-color: #efe2ba;
}

.hidden {
  display: none;
}

.show {
  display: inline-block;
}

.card-image {
  width: 60%;
  margin: 2% 0;
}
.Buttons {
  display: flex;
  justify-content: space-around;
}
.Items-Buttons {
  background-color: #4056a1;
  color: #efe2ba;
  margin-top: 2%;
}
.Items-Buttons:hover {
  background-color: #f13c20;
  color: white;
}

.SaveEditButton {
  margin-bottom: 1%;
  margin-right: 2%;
}
/*.hZXyxM is coming from an internal code coming from reacstrap that i was able to track  looking and the inspector on mozilla firefox*/
.hZXyxM.itemCard {
  padding-bottom: 5px;
}
/*.sc-AykKH.hZXyxM is coming from an internal code coming from reacstrap that i was able to track  looking and the inspector on mozilla firefox*/
.sc-AykKH.hZXyxM {
  padding-bottom: 5px;
}
